*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#f4f7fe;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

button{
cursor:pointer;
border:none;
}

input{
outline:none;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#6C63FF;
border-radius:20px;
}