.filter-select{

    width:220px;
    padding:12px 15px;

    border:1px solid #ddd;
    border-radius:10px;

    background:white;
    font-size:15px;

    outline:none;
    cursor:pointer;

    margin:20px 0;

    transition:0.3s;

}


.filter-select:hover{

    border-color:#6366f1;

}


.filter-select:focus{

    border-color:#4f46e5;
    box-shadow:0 0 5px rgba(79,70,229,0.3);

}